#div1 h1, #div2 h1{
	color: blue;
}

table td, th{
	border: 1px solid;
}

.menu{
	list-style-type: none;
	float: right;
}

.menu li{
	margin: 10px;
	float: left;
}

#rodape{

	margin-top: 50px;
	max-height: 10px;
	text-align: center;	
}


.textogeral p{
	text-align: justify;
	font-size: 12px;
	font-style: normal;
	font-family: serif;
	color: blue;

}



.figure-caption{
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 400;
}


.img-thumbnail{
	padding: .5rem;
	border: 2px solid #868e96;
	border-radius: 0;
	background-color: #dddddd;
}

